<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
    </defaultProxy>
  </system.net>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.;Initial Catalog=gs247_iikm;Integrated Security=false;user Id=sa;password=mych0ice2010" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="storageLocale" value="local" />
    <add key="storagePath" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" requestLengthDiskThreshold="20480" targetFramework="4.5" />
    <pages validateRequest="false">
      <controls>
        <add namespace="aspPage" tagPrefix="aspPage" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>



  </system.webServer>


</configuration>